{% liquid
	if layout != blank
		assign btn_label = layout.settings.button_label
		assign btn_link = layout.settings.button_link
		if layout.settings.button_style != blank
			assign btn_style = layout.settings.button_style
		else
			assign btn_style = 'simple'
		endif
	endif
%}
{% if btn_label != blank %}
	<a
		{% if btn_link != blank %}
			href="{{ btn_link }}"
		{% endif %}
		class="button button--{{ btn_style }}{% if full %} button--full-width{% endif %}"
		{% if btn_link == blank %}
			aria-disabled="true"
		{% endif %}
	>
		{% comment %}
			{% if btn_icon %}
				<span>
					{%-
						render 'icon-social',
						icon-social: layout.settings.icon_social,
					-%}
				</span>
			{% endif %}
		{% endcomment %}
		{% if btn_style == 'simple' %}
			<span>
				<span class="button-label">
					{{ btn_label | escape }}
				</span>
				<span class="button-label">
					{{ btn_label | escape }}
				</span>
			</span>
		{% else %}
			<span class="button-label">{{ btn_label | escape }}</span>
		{% endif %}
	</a>
{% endif %}
