{{ 'component-collection-card.css' | asset_url | stylesheet_tag }}

{% liquid
	case media_size
		when 'landscape'
			assign section_size = '56.25%'
			assign margin_top = '30%'
		when 'portrait'
			assign section_size = '125%'
			assign margin_top = '97%'
		when 'square'
			assign section_size = '100%'
			assign margin_top = '60%'
		else
			assign section_size = '100%'
			assign margin_top = '60%'
	endcase

	assign effect = false
	if aniamtion_effect == 'scale'
		assign effect = true
	endif
%}

<div
	class="collection-card{% if card_type == 'overlay' %} color-inverse{% if animation %} background-color-transparent{% endif %}{% endif %}"
	style="--image-size: {{ section_size }};"
>
	<div class="collection-card__img-wrapper{% if animation %} photowrapper{% endif %}">
		<a
			class="collection-card__img{% if card_type == 'overlay' %} have-overlay{% endif %}"
			{% if block_collection != blank %}
				href="{{ url }}"
			{% endif %}
			animation-images
			data-noclip="{{ effect }}"
		>
			{% if block_image != blank
				or collection_image != blank
				or block_collection.featured_image
			%}
				{% liquid
					if block_image != blank
						assign collectionImg = block_image
					elsif collection_image != blank
						assign collectionImg = collection_image
					elsif block_collection.featured_image != blank
						assign collectionImg = block_collection.featured_image
					endif
					assign image_height = collectionImg.width | divided_by: collectionImg.aspect_ratio
					assign image_width = collectionImg.width
					assign sizes = '(min-width: 750px) 50vw, 100vw'
				%}
				{{
					collectionImg
					| image_url: width: 3840
					| image_tag:
						loading: 'lazy',
						width: image_width,
						height: image_height,
						sizes: sizes,
						widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
				}}
			{%- else -%}
				{{
					'collection-1'
					| placeholder_svg_tag: 'placeholder-svg placeholder'
				}}
			{% endif %}
		</a>
	</div>
	<div
		class="collection-card__text collection-card__text-{{ text_align }}"
		style="text-align: {{ text_align }}"
	>
		<h3 class="collection-card__title {% if card_type == 'overlay' %} h4 {% endif %}">
			<a
				class="full-unstyled-link"
				{% if block_collection != blank %}
					href="{{ url }}"
				{% endif %}
			>
				{% if block_collection != blank %}
					{{ collection_title }}
				{% else %}
					{{- 'general.card.collection_name' | t -}}
				{% endif %}
			</a>
		</h3>
		{% if show_collection_desc %}
			<div class="collection-card__desc collection-card__desc-{{ text_align }} richtext__content medium-font">
				{%- if collection_desc != blank -%}
					{{ collection_desc }}
				{% else %}
					{{ 'collection.collection_desc' | t }}
				{%- endif -%}
			</div>
		{% endif %}
		{%- if show_collection_button != blank -%}
			{% render 'button',
				btn_style: 'simple',
				btn_label: btn_label,
				btn_link: btn_link
			%}
		{%- endif -%}
	</div>
</div>
