{% comment %}
		Renders facets (filtering and sorting)

		Accepts:
		- results: {Object} Collection or Search object
		- enable_filtering: {Boolean} Show filtering when true
		- enable_sorting: {Boolean} Show sorting when true

		Usage:
	{% render 'facets', results: collection, enable_filtering: true, enable_sorting: true %}
{% endcomment %}

{%- liquid
	assign sort_by = results.sort_by | default: results.default_sort_by
	assign total_active_values = 0
	if results.url
		assign results_url = results.url
	else
		assign terms = results.terms | escape
		assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
	endif
-%}

<div class="facets-container facets-container--horizontal_united{% unless enable_filtering %} facets-container_no-filter{% endunless %}">
	<facet-filters-form class="facets small-hide">
		{% if enable_filtering and filter_type == 'vertical' %}
			<button class="button button--secondary button--unstyled facets__button-show no-js-hidden focus-inset">
				{% render 'icon-filter' %}
				<span class="label-show hidden">
					{{- 'products.facets.show_filters' | t -}}
				</span>
			</button>
		{% endif %}
		<form
			id="FacetFiltersForm"
			class="facets__form facets__form--horizontal_united"
		>
			{%- if results.terms -%}
				<input type="hidden" name="q" value="{{ results.terms | escape }}">
				<input name="options[prefix]" type="hidden" value="last">
			{%- endif -%}
			<div class="facets-mask"></div>
			<div class="facets__horizontal-top">
				<details-disclosure-filter>
					<details>
						{% if enable_filtering and filter_type == 'horizontal_united' %}
							<summary>
								<a
									type="button"
									class="button button--simple button--unstyled facets__button-show facets__button-show_up no-js-hidden focus-inset"
								>
									<span class="label-hide">
										{{- 'products.facets.show_filters' | t -}}
									</span>
									<span class="label-show hidden"> </span>
									{% render 'icon-caret-small' %}
								</a>
							</summary>	
						{% endif %}
						{% if enable_filtering %}
							<div class="facets__container">
								<div
									class="facets__wrapper color-{{ section.settings.color_scheme }}"
									id="FacetsWrapperDesktop"
								>
									{%- for filter in results.filters -%}
										{% assign total_active_values = total_active_values
											| plus: filter.active_values.size
										%}
										{% liquid
											assign color_trigger = settings.trigger_swatch | handle | strip
											assign name_option = filter.label | handle | strip
										%}
										<div
											class="facets__disclosure js-filter"
											id="Details-{{ forloop.index }}-{{ section.id }}"
											data-index="{{ forloop.index }}"
										>
											<div class="facets__disclosure-header">
												<div class="subtitle">{{ filter.label | escape }}</div>
												<facet-remove>
													<a href="{{ filter.url_to_remove }}" class="facets__reset">
														{{ 'products.facets.reset' | t }}
													</a>
												</facet-remove>
											</div>
											<div
												class="facets__display"
												id="Facet-{{ forloop.index }}-{{ section.id }}"
											>
												{% case filter.type %}
													{% when 'boolean', 'list' %}
														{% liquid
															assign filter_size = filter.values | size
															if filter_size > 4
																assign filter_size = 'col-2'
															else
																assign filter_size = 'col-1'
															endif
															if settings.show_color_swatch and color_trigger == name_option
																assign enabled_swatch = true
															else
																assign enabled_swatch = false
															endif
														%}
														<ul
															class="facets__list list-unstyled {{ filter_size }}{% if enabled_swatch %} facets__list--color{% endif %}"
															role="list"
														>
															{%- for value in filter.values -%}
																{% liquid
																	if enabled_swatch
																		assign color_value = value.value | handle | strip
																		assign color_value_custom = color_value
			
																		if settings.custom_colors != blank
																			assign custom_colors_string = settings.custom_colors | strip
																			assign custom_colors_obj = custom_colors_string | newline_to_br | split: '<br />'
			
																			for obj in custom_colors_obj
																				assign obj_strip = obj | strip
																				assign obj_key = obj_strip | split: ':' | first
																				assign obj_value = obj_strip | split: ':' | last
																				assign obj_color_name = obj_key | handle | strip
			
																				if color_value == obj_color_name
																					assign obj_color_value = obj_value
																					assign color_value_custom = obj_color_value | strip
																					break
																				endif
																			endfor
																		endif
																	endif
																%}
																<li
																	class="list-menu__item facets__item{% if enabled_swatch %} facets__item--color{% endif %}"
																	{% if enabled_swatch %}
																		{% liquid
																			if color_value_custom == 'white' or color_value_custom == '#fff' or color_value_custom == '#ffffff' or color_value_custom == '255,255,255' or color_value_custom == '255,255,255,1'
																				assign swatch_bg = 'rgb(var(--color-border))'
																				assign disable_color = 'rgb(var(--color-foreground-title))'
																				assign checkbox_bg = 'rgb(var(--color-border))'
																			else
																				assign swatch_bg = 'transparent'
																				assign disable_color = 'white'
																				assign checkbox_bg = 'white'
																			endif
																		%}
																		style="--swatch-color: {{ color_value_custom | remove: '-' }}; --swatch-bg: {{ swatch_bg }};--disable-color:{{ disable_color }};--checkbox-bg: {{ checkbox_bg }}; border-radius: {{ settings.swatch_border_radius }}%"
																	{% endif %}
																>
																	<input
																		type="checkbox"
																		class="focus-inset"
																		name="{{ value.param_name }}"
																		value="{{ value.value }}"
																		id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
																		{% if value.active %}
																			checked
																		{% endif %}
																		{% if value.count == 0
																			and value.active == false
																		%}
																			disabled
																		{% endif %}
																	>
																	<label
																		for="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
																		class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}{% if enabled_swatch %} facet-checkbox--color{% endif %}"
																	>
																		<svg
																			class="icon icon-checkmark"
																			width="15"
																			height="12"
																			viewBox="0 0 15 12"
																			fill="none"
																			xmlns="http://www.w3.org/2000/svg"
																		>
																			<path d="M4.66631 11.25L0.25 6.80206L0.930541 6.12152L4.66631 9.82569L13.7736 0.75L14.4541 1.46214L4.66631 11.25Z" fill="currentColor"/>
																		</svg>
																		<span class="facet-checkbox__label">
																			{{ value.label | escape }}
																		</span>
																	</label>
																</li>
															{%- endfor -%}
														</ul>
													{% when 'price_range' %}
														<price-range class="facets__price">
															{% liquid
																if uses_comma_decimals
																	assign max_price = filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.'
																else
																	assign max_price = filter.range_max | money_without_currency | replace: ',', ''
																endif
			
																if uses_comma_decimals
																	if filter.min_value.value
																		assign current_price_min = filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.'
																		assign range_min = current_price_min | divided_by: max_price | times: 100
																	else
																		assign range_min = 0
																		assign current_price_min = 0
																	endif
																else
																	if filter.min_value.value
																		assign current_price_min = filter.min_value.value | money_without_currency | replace: ',', ''
																		assign range_min = current_price_min | divided_by: max_price | times: 100
																	else
																		assign range_min = 0
																		assign current_price_min = 0
																	endif
																endif
			
																if uses_comma_decimals
																	if filter.max_value.value
																		assign current_price_max = filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.'
																		assign range_max = current_price_max | divided_by: max_price | times: 100
																	else
																		assign current_price_max = max_price
																		assign range_max = 100
																	endif
																else
																	if filter.max_value.value
																		assign current_price_max = filter.max_value.value | money_without_currency | replace: ',', ''
																		assign range_max = current_price_max | divided_by: max_price | times: 100
																	else
																		assign current_price_max = max_price
																		assign range_max = 100
																	endif
																endif
															%}
			
															<div class="facets__price-wrapper">
																<div class="field">
																	<label
																		class="field__label"
																		for="Filter-{{ filter.label | escape }}-GTE"
																	>
																		{{- 'products.facets.from' | t -}}
																	</label>
																	<span class="field__currency">
																		{{- cart.currency.symbol -}}
																	</span>
																	<input
																		class="field__input"
																		name="{{ filter.min_value.param_name }}"
																		id="Filter-{{ filter.label | escape }}-GTE"
																		{%- if filter.min_value.value -%}
																			{%- if uses_comma_decimals -%}
																				value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
																			{%- else -%}
																				value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
																			{% endif %}
																		{% else %}
																			value="0"
																		{%- endif -%}
																		type="number"
																		placeholder="0"
																		min="0"
																		{%- if uses_comma_decimals -%}
																			max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
																		{%- else -%}
																			max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
																		{% endif %}
																	>
																</div>
			
																<div class="field">
																	<label
																		class="field__label"
																		for="Filter-{{ filter.label | escape }}-LTE"
																	>
																		{{- 'products.facets.to' | t -}}
																	</label>
			
																	<span class="field__currency">
																		{{- cart.currency.symbol -}}
																	</span>
																	<input
																		class="field__input"
																		name="{{ filter.max_value.param_name }}"
																		id="Filter-{{ filter.label | escape }}-LTE"
																		{%- if filter.max_value.value -%}
																			{%- if uses_comma_decimals -%}
																				value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
																			{%- else -%}
																				value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
																			{%- endif %}
																		{% else %}
																			value="{{ current_price_max }}"
																		{%- endif -%}
																		type="number"
																		min="0"
																		{%- if uses_comma_decimals -%}
																			placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
																			max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
																		{%- else -%}
																			placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
																			max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
																		{% endif %}
																	>
																</div>
															</div>
															<div
																class="facets__range"
																style="--range-min: {{ range_min }}%; --range-max: {{ range_max }}%"
															>
																<input
																	type="range"
																	value="{{ current_price_min }}"
																	min="0"
																	max="{{ max_price }}"
																	class="field__range"
																	aria-label="price range"
																	step="0.01"
																>
																<input
																	type="range"
																	value="{{ current_price_max }}"
																	min="0"
																	max="{{ max_price }}"
																	class="field__range"
																	aria-label="price range"
																	step="0.01"
																>
															</div>
														</price-range>
												{% endcase %}
											</div>
										</div>
									{%- endfor -%}
									<a href="#" class="close_filter_element">x</a>
									<noscript>
										<button type="submit" class="facets__button button">
											{{ 'products.facets.filter_button' | t }}
										</button>
									</noscript>
								</div>
							</div>
						{% endif %}
					</details>
				</details-disclosure-filter>
				<div class="facets__sort-wrapper{% if enable_filtering == false %} facets__sort-wrapper_no-filter {% endif %}{% if filter_type == 'vertical' %} facets__sort-wrapper_vertical {% endif %}">
					<div class="facets__product-count" role="status">
						<h2 class="facets__product-count-text ">
							<span id="ProductCountDesktop" class="small-text">
								{%- if results.results_count -%}
									{{
										'templates.search.results_with_count'
										| t: terms: results.terms, count: results.results_count
									}}
								{%- else -%}
									{{
										'products.facets.product_count'
										| t:
											product_count: results.products_count,
											count: results.all_products_count
									}}
								{%- endif -%}
							</span>
						</h2>
					</div>
					{%- if enable_sorting -%}
						<div class="facet-filters facets-sorting sorting">
							<div class="facets-sorting__label small-text">
								{{ 'products.facets.sort_by_label' | t }}
							</div>
							<div class="facet-filters__field facets-sorting__field">
								<div class="select field small-text">
									{%- assign sort_by = results.sort_by
										| default: results.default_sort_by
									-%}
									<select
										name="sort_by"
										class="select__select small-text"
										id="SortBy"
										aria-describedby="a11y-refresh-page-message"
									>
										{%- for option in results.sort_options -%}
											<option
												value="{{ option.value | escape }}"
												{% if option.value == sort_by %}
													selected="selected"
												{% endif %}
											>
												{{ option.name | escape }}
											</option>
										{%- endfor -%}
									</select>
								</div>
								{% render 'icon-caret-small' %}
							</div>
							<noscript>
								<button type="submit" class="button button--small focus-inset">
									{{ 'products.facets.sort_button' | t }}
								</button>
							</noscript>
						</div>
					{%- endif -%}
				</div>
			</div>



			{% if results.current_vendor or results.current_type %}
				<input
					type="hidden"
					name="q"
					value="{{ results.current_vendor }}{{ results.current_type }}"
				>
			{% endif %}
		</form>
	</facet-filters-form>

	<menu-drawer class="mobile-facets__wrapper" data-breakpoint="mobile">
		<details class="disclosure-has-popup medium-hide large-up-hide">
			<summary>
				<span class="mobile-facets__open button button--primary focus-inset">
					{% render 'icon-filter' %}
					<span>
						{%- if enable_filtering and enable_sorting -%}
							{{ 'products.facets.filter_and_sort' | t }}
						{%- elsif enable_filtering -%}
							{{ 'products.facets.filter_button' | t }}
						{%- elsif enable_sorting -%}
							{{ 'products.facets.sort_button' | t }}
						{%- endif -%}
					</span>
					<div class="count-bubble">
						{%- if total_active_values > 0 -%}
							{{ total_active_values }}
						{%- endif -%}
					</div>
				</span>
				<span
					tabindex="0"
					class="mobile-facets__close mobile-facets__close--no-js modal-close-buttonfocus-inset"
				>
					{%- render 'icon-close' -%}
				</span>
			</summary>
			<facet-filters-form>
				<form id="FacetFiltersFormMobile" class="mobile-facets">
					<div class="mobile-facets__inner">
						<div class="mobile-facets__header">
							<div class="mobile-facets__header-inner">
								<h2 class="mobile-facets__heading">
									{%- if enable_filtering and enable_sorting -%}
										{{ 'products.facets.filter_and_sort' | t }}
									{%- elsif enable_filtering -%}
										{{ 'products.facets.filter_button' | t }}
									{%- elsif enable_sorting -%}
										{{ 'products.facets.sort_button' | t }}
									{%- endif -%}
								</h2>
								<p class="mobile-facets__count">
									{%- if results.results_count -%}
										{{
											'templates.search.results_with_count'
											| t: terms: results.terms, count: results.results_count
										}}
									{%- else -%}
										{{
											'products.facets.product_count_simple'
											| t: count: results.products_count
										}}
									{%- endif -%}
								</p>
							</div>
						</div>
						<div class="mobile-facets__main">
							{%- if enable_sorting -%}
								<div
									class="mobile-facets__details js-filter"
									data-index="mobile-{{ forloop.index }}"
								>
									<div class="mobile-facets__summary">
										<div class="mobile-facets__sort">
											<label for="SortBy-mobile">
												{{- 'products.facets.sort_by_label' | t -}}
											</label>
											<div class="select field">
												<select
													name="sort_by"
													class="select__select"
													id="SortBy-mobile"
													aria-describedby="a11y-refresh-page-message"
												>
													{%- for option in results.sort_options -%}
														<option
															value="{{ option.value | escape }}"
															{% if option.value == sort_by %}
																selected="selected"
															{% endif %}
														>
															{{ option.name | escape }}
														</option>
													{%- endfor -%}
												</select>
												{% render 'icon-caret-small' %}
											</div>
										</div>
									</div>
								</div>
							{%- endif -%}
							{% if enable_filtering %}
								{%- for filter in results.filters -%}
									{% case filter.type %}
										{% when 'boolean', 'list' %}
											{% liquid
												assign color_trigger = settings.trigger_swatch | handle | strip
												assign name_option = filter.label | handle | strip
											%}
											<details
												id="Details-Mobile-{{ forloop.index }}-{{ section.id }}"
												class="mobile-facets__details js-filter"
												data-index="mobile-{{ forloop.index }}"
											>
												<summary class="mobile-facets__summary">
													<div>
														<span>{{ filter.label | escape }}</span>
														<span class="mobile-facets__arrow no-js-hidden">
															{% render 'icon-caret-small' %}
														</span>
														<noscript>{% render 'icon-arrow-small' %}</noscript>
													</div>
												</summary>
												<div
													id="FacetMobile-{{ forloop.index }}-{{ section.id }}"
													class="mobile-facets__submenu"
												>
													<button
														class="mobile-facets__close-button link link--text focus-inset"
														aria-expanded="true"
														type="button"
													>
														{% render 'icon-arrow-small' %}
														{{ filter.label | escape }}
													</button>
													<ul
														class="mobile-facets__list list-unstyled {% if settings.show_color_swatch and color_trigger == name_option -%} mobile-facets__list--color {%- endif -%}"
														role="list"
													>
														{%- for value in filter.values -%}
															{% liquid
																if settings.show_color_swatch and color_trigger == name_option
																	assign color_value = value.value | handle | strip
																	assign color_value_custom = color_value

																	if settings.custom_colors != blank
																		assign custom_colors_string = settings.custom_colors | strip
																		assign custom_colors_obj = custom_colors_string | newline_to_br | split: '<br />'

																		for obj in custom_colors_obj
																			assign obj_strip = obj | strip
																			assign obj_key = obj_strip | split: ':' | first
																			assign obj_value = obj_strip | split: ':' | last
																			assign obj_color_name = obj_key | handle | strip

																			if color_value == obj_color_name
																				assign obj_color_value = obj_value
																				assign color_value_custom = obj_color_value | strip
																				break
																			endif
																		endfor
																	endif
																endif
															%}
															<li
																class="
																	mobile-facets__item list-menu__item
																	{% if settings.show_color_swatch and color_trigger == name_option -%} mobile-facets__item--color {%- endif -%}
																"
																{% if settings.show_color_swatch
																	and color_trigger == name_option
																%}
																	{% liquid
																		if color_value_custom == 'white' or color_value_custom == '#fff' or color_value_custom == '#ffffff' or color_value_custom == '255,255,255' or color_value_custom == '255,255,255,1'
																			assign swatch_bg = 'rgb(var(--color-border))'
																			assign disable_color = 'rgb(var(--color-foreground-title))'
																			assign checkbox_bg = 'rgb(var(--color-border))'
																			assign checkbox_bg = 'white'
																		else
																			assign swatch_bg = 'transparent'
																			assign disable_color = 'white'
																		endif
																	%}
																	style="--swatch-color: {{ color_value_custom | remove: '-' }}; --swatch-bg: {{ swatch_bg }};--disable-color:{{ disable_color }};--checkbox-bg: {{ checkbox_bg }}; border-radius: {{ settings.swatch_border_radius }}%"
																{% endif %}
															>
																<input
																	class="mobile-facets__checkbox"
																	type="checkbox"
																	name="{{ value.param_name }}"
																	value="{{ value.value }}"
																	id="Filter-{{ filter.label | escape }}-mobile-{{ forloop.index }}"
																	{% if value.active %}
																		checked
																	{% endif %}
																	{% if value.count == 0
																		and value.active == false
																	%}
																		disabled
																	{% endif %}
																>
																<label
																	for="Filter-{{ filter.label | escape }}-mobile-{{ forloop.index }}"
																	class="
																		mobile-facets__label{% if value.count == 0 and value.active == false %} mobile-facets__label--disabled{% endif %}
																		{%- if settings.show_color_swatch and color_trigger == name_option -%} facet-checkbox facet-checkbox--color {%- endif -%}
																	"
																>
																	<span class="mobile-facets__highlight"></span>
																	<svg
																		class="icon icon-checkmark"
																		width="8"
																		height="7"
																		viewBox="0 0 8 7"
																		fill="none"
																		xmlns="http://www.w3.org/2000/svg"
																	>
																		<path d="M1 3.5L3 5.5L7 1.5" stroke="#F9F9F9" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
																	</svg>
																	<span
																		class="
																			facet-checkbox__label
																			{% if settings.show_color_swatch and color_trigger == name_option -%} visually-hidden {%- endif -%}
																		"
																	>
																		{{ value.label | escape }}
																	</span>
																</label>
															</li>
														{%- endfor -%}
													</ul>

													<div class="no-js-hidden mobile-facets__footer">
														<facet-remove>
															<a
																href="{{ results_url }}"
																class="mobile-facets__clear focus-inset"
															>
																{{- 'products.facets.clear' | t -}}
															</a>
														</facet-remove>
														<button
															type="button"
															class="no-js-hidden button button--primary focus-inset"
															onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
														>
															{{ 'products.facets.apply' | t }}
														</button>
														<noscript>
															<button class="button button--primary focus-inset">
																{{ 'products.facets.apply' | t }}
															</button>
														</noscript>
													</div>
												</div>
											</details>
										{% when 'price_range' %}
											<details
												id="Details-Mobile-{{ forloop.index }}-{{ section.id }}"
												class="mobile-facets__details js-filter"
												data-index="mobile-{{ forloop.index }}"
											>
												<summary class="mobile-facets__summary">
													<div>
														<span>{{ filter.label | escape }}</span>
														<span class="mobile-facets__arrow no-js-hidden">
															{%- render 'icon-arrow-small' -%}
														</span>
														<noscript>{% render 'icon-arrow-small' %}</noscript>
													</div>
												</summary>
												<div
													id="FacetMobile-{{ forloop.index }}-{{ section.id }}"
													class="mobile-facets__submenu"
												>
													<button
														class="mobile-facets__close-button link link--text focus-inset"
														aria-expanded="true"
														type="button"
													>
														{% render 'icon-arrow-small' %}
														{{ filter.label | escape }}
													</button>
													<p class="mobile-facets__info">
														{{
															'sections.collection_template.max_price'
															| t: price: max_price_amount
														}}
													</p>
													<price-range class="facets__price">
														<div class="facets__price-wrapper">
															<div class="field">
																<input
																	class="field__input"
																	name="{{ filter.min_value.param_name }}"
																	id="Mobile-Filter-{{ filter.label | escape }}-GTE"
																	{%- if filter.min_value.value -%}
																		{%- if uses_comma_decimals -%}
																			value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
																		{%- else -%}
																			value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
																		{% endif %}
																	{% else %}
																		value="0"
																	{%- endif -%}
																	type="number"
																	placeholder="0"
																	min="0"
																	max="{{ filter.range_max | divided_by: 100 | ceil }}"
																>
															</div>
															<div class="field">
																<input
																	class="field__input"
																	name="{{ filter.max_value.param_name }}"
																	id="Mobile-Filter-{{ filter.label | escape }}-LTE"
																	{%- if filter.max_value.value -%}
																		{%- if uses_comma_decimals -%}
																			value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
																		{%- else -%}
																			value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
																		{% endif %}
																	{% else %}
																		value="{{ current_price_max }}"
																	{%- endif -%}
																	type="number"
																	placeholder="{{ filter.range_max | divided_by: 100 | ceil }}"
																	min="0"
																	max="{{ filter.range_max | divided_by: 100 | ceil }}"
																>
															</div>
														</div>
														<div
															class="facets__range"
															style="--range-min: {{ range_min }}%; --range-max: {{ range_max }}%"
														>
															<input
																type="range"
																value="{{ current_price_min }}"
																min="0"
																max="{{ max_price }}"
																class="field__range"
																aria-label="price range"
															>
															<input
																type="range"
																value="{{ current_price_max }}"
																min="0"
																max="{{ max_price }}"
																class="field__range"
																aria-label="price range"
															>
														</div>
													</price-range>
													<div class="no-js-hidden mobile-facets__footer">
														<facet-remove>
															<a
																href="{{ results_url }}"
																class="mobile-facets__clear focus-inset"
															>
																{{- 'products.facets.clear' | t -}}
															</a>
														</facet-remove>
														<button
															type="button"
															class="no-js-hidden button button--primary focus-inset"
															onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
														>
															{{ 'products.facets.apply' | t }}
														</button>
														<noscript>
															<button class="button button--primary focus-inset">
																{{ 'products.facets.apply' | t }}
															</button>
														</noscript>
													</div>
												</div>
											</details>
									{% endcase %}
								{%- endfor -%}
							{% endif %}

							<div class="mobile-facets__footer">
								<facet-remove>
									<a
										href="{{ results_url }}"
										class="mobile-facets__clear focus-inset"
									>
										{{- 'products.facets.clear_all' | t -}}
									</a>
								</facet-remove>
								<button
									type="button"
									class="no-js-hidden button button--primary focus-inset"
									onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
								>
									{{ 'products.facets.apply' | t }}
								</button>
								<noscript>
									<button class="button button--primary focus-inset">
										{{ 'products.facets.apply' | t }}
									</button>
								</noscript>
							</div>
						</div>

						{% if results.current_vendor or results.current_type %}
							<input
								type="hidden"
								name="q"
								value="{{ results.current_vendor }}{{ results.current_type }}"
							>
						{% endif %}

						{%- if results.terms -%}
							<input
								type="hidden"
								name="q"
								value="{{ results.terms | escape }}"
							>
							<input name="options[prefix]" type="hidden" value="last">
						{%- endif -%}
					</div>
				</form>
			</facet-filters-form>
		</details>
	</menu-drawer>

	<div class="active-facets active-facets-mobile medium-hide large-up-hide">
		{%- for filter in results.filters -%}
			{%- for value in filter.active_values -%}
				<facet-remove>
					<a
						href="{{ value.url_to_remove }}"
						class="active-facets__button focus-inset"
					>
						<span class="active-facets__button-inner">
							<span>{{ filter.label }}:</span>
							{{ value.label | escape }}
							<span class="active-facets__button-close">
								{%- render 'icon-close' -%}
							</span>
							<span class="visually-hidden">
								{{- 'products.facets.clear_filter' | t -}}
							</span>
						</span>
					</a>
				</facet-remove>
			{%- endfor -%}

			{%- if filter.type == 'price_range' -%}
				{%- if filter.min_value.value != null
					or filter.max_value.value != null
				-%}
					<facet-remove>
						<a
							href="{{ filter.url_to_remove }}"
							class="active-facets__button focus-inset"
						>
							<span class="active-facets__button-inner">
								<span>{{ filter.label }}:</span>
								{%- if filter.min_value.value -%}
									{{ filter.min_value.value | money }}
								{%- else -%}
									{{ 0 | money }}
								{%- endif -%}
								-
								{%- if filter.max_value.value -%}
									{{ filter.max_value.value | money }}
								{%- else -%}
									{{ filter.range_max | money }}
								{%- endif -%}
								<span class="active-facets__button-close">
									{%- render 'icon-close' -%}
								</span>
								<span class="visually-hidden">
									{{- 'products.facets.clear_filter' | t -}}
								</span>
							</span>
						</a>
					</facet-remove>
				{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
		<facet-remove>
			<a
				href="{{ results_url }}"
				class="active-facets__button-remove focus-inset"
			>
				<span>{{ 'products.facets.clear_all' | t }}</span>
			</a>
		</facet-remove>
	</div>
	<span id="ProductCount" class="visibility-hidden">
		{%- if results.results_count -%}
			{{
				'templates.search.results_with_count'
				| t: terms: results.terms, count: results.results_count
			}}
		{%- else -%}
			{{
				'products.facets.product_count_simple'
				| t: count: results.products_count
			}}
		{%- endif -%}
	</span>
</div>
{% if enable_filtering %}
	<div class="facets__top facets small-hide">
		{% if enable_filtering %}
			<div class="active-facets active-facets-desktop">
				{% assign active_facets = false %}
				{%- for filter in results.filters -%}
					{% if filter.active_values.size > 0
						or filter.min_value.value != null
						or filter.max_value.value != null
					%}
						{% assign active_facets = true %}
						{% break %}
					{% endif %}
				{% endfor %}

				<div class="active-facets__wrapper {% if active_facets %} active-facets__wrapper_margin {% endif %}">
					<facet-remove>
						<a
							href="{{ results_url }}"
							class="button button--tertiary active-facets__button-remove focus-inset main-facets-remove"
						>
							<span>{{ 'products.facets.clear_all' | t }}</span>
						</a>
					</facet-remove>
					{%- for filter in results.filters -%}
						{%- for value in filter.active_values -%}
							{% liquid
								assign color_trigger = settings.trigger_swatch | handle | strip
								assign name_option = filter.label | handle | strip
								if settings.show_color_swatch and color_trigger == name_option
									assign enabled_swatch = true
								else
									assign enabled_swatch = false
								endif
								if enabled_swatch
									assign color_value = value.value | handle | strip
									assign color_value_custom = color_value

									if settings.custom_colors != blank
										assign custom_colors_string = settings.custom_colors | strip
										assign custom_colors_obj = custom_colors_string | newline_to_br | split: '<br />'

										for obj in custom_colors_obj
											assign obj_strip = obj | strip
											assign obj_key = obj_strip | split: ':' | first
											assign obj_value = obj_strip | split: ':' | last
											assign obj_color_name = obj_key | handle | strip

											if color_value == obj_color_name
												assign obj_color_value = obj_value
												assign color_value_custom = obj_color_value | strip
												break
											endif
										endfor
									endif
								endif

								if color_value_custom == 'white' or color_value_custom == '#fff' or color_value_custom == '#ffffff' or color_value_custom == '255,255,255' or color_value_custom == '255,255,255,1'
									assign swatch_bg = 'rgb(var(--color-border))'
									assign disable_color = 'rgb(var(--color-foreground-title))'
									assign checkbox_bg = 'rgb(var(--color-border))'
								else
									assign swatch_bg = 'transparent'
									assign disable_color = 'white'
									assign checkbox_bg = 'white'
								endif

							%}
							<facet-remove>
								<a
									href="{{ value.url_to_remove }}"
									class="active-facets__button focus-inset button button--tertiary"
								>
									<span class="active-facets__button-inner">
										<span class="small-text">{{ filter.label }}:</span>
										{% if enabled_swatch %}
											<span class="swatch" style="--swatch-color: {{ color_value_custom | remove: '-' }}; --swatch-bg: {{ swatch_bg }};--disable-color:{{ disable_color }};--checkbox-bg: {{ checkbox_bg }}; border-radius: {{ settings.swatch_border_radius }}%"></span>
										{% endif %}
										<span class="active-facets__button-value">{{ value.label | escape }}</span> 
										<span class="active-facets__button-close">
											{%- render 'icon-close' -%}
										</span>
									</span>
									<span class="visually-hidden">
										{{- 'products.facets.clear_filter' | t -}}
									</span>
								</a>
							</facet-remove>
						{%- endfor -%}
						{% if filter.type == 'price_range' %}
							{%- if filter.min_value.value != null
								or filter.max_value.value != null
							-%}
								<facet-remove>
									<a
										href="{{ filter.url_to_remove }}"
										class="active-facets__button focus-inset button button--tertiary"
									>
										<span class="active-facets__button-inner">
											<span class="small-text">{{ filter.label }}:</span>
											<span class="active-facets__button-value">
												{%- if filter.min_value.value -%}
													{{ filter.min_value.value | money }}
												{%- else -%}
													{{ 0 | money }}
												{%- endif -%}
												-
												{%- if filter.max_value.value -%}
													{{ filter.max_value.value | money }}
												{%- else -%}
													{{ filter.range_max | money }}
												{%- endif -%}
											</span>
											<span class="active-facets__button-close">
												{%- render 'icon-close' -%}
											</span>
										</span>
										<span class="visually-hidden">
											{{- 'products.facets.clear_filter' | t -}}
										</span>
									</a>
								</facet-remove>
							{%- endif -%}
						{% endif %}
					{%- endfor -%}
				</div>
			</div>
		{% endif %}
	</div>
{% endif %}