{% comment %}
	Renders product variant-picker

	Accepts:
	- product: {Object} product object.
	- block: {Object} passing the block information.
	- product_form_id: {String} Id of the product form to which the variant picker is associated.
	- update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
	Usage:
	{% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}

{% if product.has_only_default_variant == false %}
	<div class="product-parameters">
		{%- unless product.has_only_default_variant -%}
			<div class="product-parameters__item product-parameters__variant">
				{%- if block.settings.picker_type == 'button' -%}
					<variant-radios
						id="variant-radios-{{ section.id }}"
						class="no-js-hidden"
						data-section="{{ section.id }}"
						data-url="{{ product.url }}"
						{% if update_url == false %}
							data-update-url="false"
						{% endif %}
						{{ block.shopify_attributes }}
					>
						{%- for option in product.options_with_values -%}
							{% liquid
								assign optionName = option.name | escape | downcase
							%}
							<fieldset
								class="product-form__input product-form__input--radios"
								id="SingleOptionSelector-{{ forloop.index0 }}"
							>
								<legend class="product-form__group-name-legend">
									{{ option.name }}
								</legend>
								<span class="product-form__group-name small-text">
									{{- option.name -}}
								</span>

								<div class="product-form__controls-group">
									{% render 'product-variant-options',
										product: product,
										option: option,
										block: block
									%}
								</div>
								{% if optionName == 'size' and block.settings.show_size_guide %}
									<modal-opener
										class="no-js-hidden adv-btn-opener"
										data-modal="#PopupModal-{{ block.id }}"
										{{ block.shopify_attributes }}
									>
										<button
											class="button button--simple size-guide-btn"
											id="ProductPopup-{{ block.id }}"
											type="button"
											aria-haspopup="dialog"
											aria-label="Open popup"
										>
											<span>
												<span class="button-label">
													{{- block.settings.size_guide_text -}}
												</span>
												<span class="button-label">
													{{- block.settings.size_guide_text -}}
												</span>
											</span>
										</button>
									</modal-opener>
								{% endif %}
								{% if optionName == 'size' and block.settings.show_size_guide %}
									<modal-dialog
										id="PopupModal-{{ block.id }}"
										class="product-popup-modal size_guide_image_container"
										{{ block.shopify_attributes }}
									>
										<div
											role="dialog"
											aria-label="{{ block.settings.label }}"
											aria-modal="true"
											class="product-popup-modal__content"
											tabindex="-1"
										>
											<button
												id="ModalClose-{{ block.id }}"
												type="button"
												class="product-popup-modal__toggle modal-close-button"
												aria-label="{{ 'accessibility.close' | t }}"
											>
												{% render 'icon-close' %}
											</button>
											<div class="product-popup-modal__content-info">
												<h3>{{ block.settings.size_guide_header }}</h3>
												<p>{{ block.settings.size_guide_decription }}</p>
												{% if block.settings.size_guide_image != blank %}
													<div class="size_guide_image">
														{{
															block.settings.size_guide_image
															| image_url: width: 1790
															| image_tag:
																loading: 'lazy',
																widths: '553, 895, 1790'
														}}
													</div>
												{% endif %}
												{%- if block.settings.page.content != blank -%}
													{{ block.settings.page.content }}
												{%- endif -%}
											</div>
										</div>
									</modal-dialog>
								{% endif %}
							</fieldset>
						{%- endfor -%}

						<script type="application/json">
							{{ product.variants | json }}
						</script>
					</variant-radios>
				{% else %}
					{% liquid
						assign color_trigger = settings.trigger_swatch | handle | strip
						assign name_option = option.name | handle | strip
					%}
					<variant-selects
						id="variant-selects-{{ section.id }}"
						class="no-js-hidden"
						data-section="{{ section.id }}"
						data-url="{{ product.url }}"
						{% if update_url == false %}
							data-update-url="false"
						{% endif %}
						{{ block.shopify_attributes }}
					>
						{%- for option in product.options_with_values -%}
							{% liquid
								assign color_trigger = settings.trigger_swatch | handle | strip
								assign name_option = option.name | handle | strip
								assign optionName = option.name | escape | downcase
							%}

							{% if settings.show_color_swatch == false
								or color_trigger != name_option
							%}
								<fieldset class="product-form__input product-form__input--dropdown">
									<legend class="product-form__group-name-legend">
										{{ option.name }}
									</legend>
									<span class="product-form__group-name small-text">
										{{- option.name -}}
									</span>

									<div class="select">
										<select
											id="Option-{{ section.id }}-{{ forloop.index0 }}"
											class="select__select"
											name="options[{{ option.name | escape }}]"
											form="{{ product_form_id }}"
										>
											{% render 'product-variant-options',
												product: product,
												option: option,
												block: block
											%}
										</select>
										{% render 'icon-arrow-small' %}
									</div>
									{% if optionName == 'size'
										and block.settings.show_size_guide
									%}
										<modal-opener
											class="no-js-hidden adv-btn-opener"
											data-modal="#PopupModal-{{ block.id }}"
											{{ block.shopify_attributes }}
										>
											<button
												class="button button--simple size-guide-btn"
												id="ProductPopup-{{ block.id }}"
												type="button"
												aria-haspopup="dialog"
												aria-label="Open popup"
											>
												<span>
													<span class="button-label">{{ block.settings.size_guide_text }}</span>
													<span class="button-label">{{ block.settings.size_guide_text }}</span>
												</span>
											</button>
										</modal-opener>
									{% endif %}
									{% if optionName == 'size'
										and block.settings.show_size_guide
									%}
										<modal-dialog
											id="PopupModal-{{ block.id }}"
											class="product-popup-modal size_guide_image_container"
											{{ block.shopify_attributes }}
										>
											<div
												role="dialog"
												aria-label="{{ block.settings.label }}"
												aria-modal="true"
												class="product-popup-modal__content"
												tabindex="-1"
											>
												<button
													id="ModalClose-{{ block.id }}"
													type="button"
													class="product-popup-modal__toggle modal-close-button"
													aria-label="{{ 'accessibility.close' | t }}"
												>
													{% render 'icon-close' %}
												</button>
												<div class="product-popup-modal__content-info">
													<h3>{{ block.settings.size_guide_header }}</h3>
													<p>{{ block.settings.size_guide_decription }}</p>
													{% if block.settings.size_guide_image != blank %}
														<div class="size_guide_image">
															{{
																block.settings.size_guide_image
																| image_url: width: 1790
																| image_tag:
																	loading: 'lazy',
																	widths: '553, 895, 1790'
															}}
														</div>
													{% endif %}
													{%- if block.settings.page.content != blank -%}
														{{ block.settings.page.content }}
													{%- endif -%}
												</div>
											</div>
										</modal-dialog>
									{% endif %}
								</fieldset>
							{% elsif settings.show_color_swatch
								and color_trigger == name_option
							%}
								{% if color_trigger != name_option %}
									<fieldset class="product-form__input product-form__input--dropdown">
										<legend class="product-form__group-name-legend">
											{{ option.name }}
										</legend>
										<span class="product-form__group-name small-text">
											{{- option.name -}}
										</span>

										<div class="select">
											<select
												id="Option-{{ section.id }}-{{ forloop.index0 }}"
												class="select__select"
												name="options[{{ option.name | escape }}]"
												form="{{ product_form_id }}"
											>
												{% render 'product-variant-options',
													product: product,
													option: option,
													block: block
												%}
											</select>
											{% render 'icon-arrow-small' %}
										</div>
									</fieldset>
								{% else %}
									<div class="product-form__colors-wrapper">
										<fieldset
											class="product-form__input product-form__input--radios js-radio-colors"
											id="SingleOptionSelector-{{ forloop.index0 }}"
										>
											{% comment %}{{ option.values | size }}{% endcomment %}
											<legend class="product-form__group-name-legend product-form__group-name--top">
												{{ option.name }}
											</legend>
											<span class="product-form__group-name small-text">
												{{- option.name -}}
											</span>

											{% comment %}<span class="product_color-name ">{{ option.selected_value }}</span>{% endcomment %}
											<div class="product-form__controls-group">
												{% render 'product-variant-options',
													product: product,
													option: option,
													block: block
												%}
											</div>
										</fieldset>
									</div>
								{% endif %}
							{% endif %}
						{% endfor %}
						<script type="application/json">
							{{ product.variants | json }}
						</script>
					</variant-selects>
				{% endif %}
			</div>
		{% endunless %}

		<noscript class="product-form__noscript-wrapper-{{ section.id }}">
			<variant-selects>
				{%- for option in product.options_with_values -%}
					<fieldset class="product-form__input product-form__input--dropdown {% if product.has_only_default_variant %} hidden{% endif %}">
						<p class="product-form__group-name">{{ option.name }}</p>
						<div class="select">
							<select
								name="id"
								id="Variants-{{ section.id }}"
								class="select__select"
								form="{{ product_form_id }}"
							>
								{%- for variant in product.variants -%}
									<option
										{% if variant == product.selected_or_first_available_variant
										%}
											selected="selected"
										{% endif %}
										{% if variant.available == false %}
											disabled
										{% endif %}
										value="{{ variant.id }}"
									>
										{%- liquid
											echo variant.title
											echo variant.price | money | strip_html | prepend: ' - '
											if variant.available == false
												echo 'products.product.sold_out' | t | prepend: ' - '
											endif
											if variant.quantity_rule.increment > 1
												echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
											endif
											if variant.quantity_rule.min > 1
												echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
											endif
											if variant.quantity_rule.max != null
												echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
											endif
											assign cart_quantity = cart | item_count_for_variant: variant.id
											if cart_quantity > 0
												echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
											endif
										-%}
									</option>
								{%- endfor -%}
							</select>
							{% render 'icon-arrow-small' %}
						</div>
					</fieldset>
				{%- endfor -%}
			</variant-selects>
		</noscript>
	</div>
{% endif %}
