<!doctype html>
<html 
	class="no-js full-height" 
	lang="{{ request.locale.iso_code }}" 
	data-scheme="{{ settings.color_scheme }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="">
		<link rel="canonical" href="{{ canonical_url }}">
		<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

		{%- if settings.favicon != blank -%}
			<link
				rel="icon"
				type="image/png"
				href="{{ settings.favicon | img_url: '32x32' }}"
			>
		{%- endif -%}

		{%- unless settings.type_header_font.system? -%}
			<link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
		{%- endunless -%}

		<title>{{ shop.name }}</title>

		<meta name="description" content="{{ page_description | escape }}">

		{% render 'meta-tags' %}

		{{ content_for_header }}

		{% render 'vars' %}

		{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
		{{ 'base.css' | asset_url | stylesheet_tag }}

		{%- unless settings.type_body_font.system? -%}
			<link
				rel="preload"
				as="font"
				href="{{ settings.type_body_font | font_url }}"
				type="font/woff2"
				crossorigin
			>
		{%- endunless -%}
		{%- unless settings.type_header_font.system? -%}
			<link
				rel="preload"
				as="font"
				href="{{ settings.type_header_font | font_url }}"
				type="font/woff2"
				crossorigin
			>
		{%- endunless -%}

		{{ 'section-password.css' | asset_url | stylesheet_tag }}
		{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

		<script>
			document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
		</script>
		<script src="{{ 'jquery-3.6.0.js' | asset_url }}" defer="defer"></script>
		<script
			src="{{ 'swiper-bundle.min.js' | asset_url }}"
			defer="defer"
		></script>
		<script src="{{ 'gsap.min.js' | asset_url }}" defer="defer"></script>
		<script
			src="{{ 'ScrollTrigger.min.js' | asset_url }}"
			defer="defer"
		></script>
		<script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
		<script>
			let cscoDarkMode = {};

			(function () {
				const body = document.querySelector('html[data-scheme]');

				cscoDarkMode = {
					init: function (e) {
						this.initMode(e);
						window
							.matchMedia('(prefers-color-scheme: dark)')
							.addListener((e) => {
								this.initMode(e);
							});

						window.addEventListener('load', () => {
							document.querySelectorAll('.header__toggle-scheme').forEach(el => {
								el.addEventListener('click', (e) => {
									e.preventDefault();
									if ('auto' === body.getAttribute('data-scheme')) {
										if (
											window.matchMedia('(prefers-color-scheme: dark)').matches
										) {
											cscoDarkMode.changeScheme('light', true);
										} else if (
											window.matchMedia('(prefers-color-scheme: light)').matches
										) {
											cscoDarkMode.changeScheme('dark', true);
										}
									} else {
										if ('dark' === body.getAttribute('data-scheme')) {
											cscoDarkMode.changeScheme('light', true);
										} else {
											cscoDarkMode.changeScheme('dark', true);
										}
									}
								});
							})
						});
					},
					initMode: function (e) {
						let siteScheme = false;
						switch (
							'{{ settings.color_scheme }}' // Field. User’s system preference.
						) {
							case 'dark':
								siteScheme = 'dark';
								break;
							case 'light':
								siteScheme = 'light';
								break;
							case 'system':
								siteScheme = 'auto';
								break;
						}
						if (siteScheme && siteScheme !== body.getAttribute('data-scheme')) {
							this.changeScheme(siteScheme, false);
						}
					},
					changeScheme: function (siteScheme, cookie) {
						body.classList.add('scheme-toggled');
						body.setAttribute('data-scheme', siteScheme);
						if (cookie) {
							localStorage.setItem('_color_schema', siteScheme);
						}
						setTimeout(() => {
							body.classList.remove('scheme-toggled');
						}, 100);
					},
				};
			})();

			cscoDarkMode.init();

			document.addEventListener('shopify:section:load', function () {
				setTimeout(() => {
					cscoDarkMode.init();
				}, 100);
			});
		</script>
	</head>

	<body class="password">
		<a class="skip-to-content-link button visually-hidden" href="#MainContent">
			{{ 'accessibility.skip_to_text' | t }}
		</a>

		{% section 'main-password-header' %}

		<main id="MainContent" class="password-main">
			{{ content_for_layout }}
		</main>
		<footer>
			{% section 'main-password-footer' %}
		</footer>
	</body>
</html>
