{{ 'section-blockquote.css' | asset_url | stylesheet_tag }}

{%- style -%}
	{% render 'section-padding' %}
	{% render 'section-margin' %}
{%- endstyle -%}

{% liquid
	assign media_size_first = section.settings.image_ratio_first
	case media_size_first
		when 'landscape'
			assign image_size_first = '70%'
		when 'portrait'
			assign image_size_first = '130%'
		when 'square'
			assign image_size_first = '100%'
		else
			assign image_size_first = '130%'
	endcase

	assign media_size_second = section.settings.image_ratio_second
	case media_size_second
		when 'landscape'
			assign image_size_second = '70%'
		when 'portrait'
			assign image_size_second = '130%'
		when 'square'
			assign image_size_second = '100%'
		else
			assign image_size_second = '130%'
	endcase
%}

{%- style -%}
	#shopify-section-{{ section.id }} {
	 --image_size_first: {{ image_size_first }};
	 --image_size_second: {{ image_size_second }};
	}
{%- endstyle -%}

<div class="blockquote color-{{ section.settings.color_scheme }} background">
	<div class="container">
		<div class="blockquote__block section-{{ section.id }}-padding{% if section.settings.enable_border_top %} section_border_top{% endif %}{% if section.settings.enable_border_bottom %} section_border_bottom{% endif %}{% if section.settings.hide_mobile_image %} hide_mobile_image{% endif %}">
			<div class="blockquote__image-block blockquote__image-block-first{% if section.settings.image_first == blank %} blockquote__image-block-empty{% endif %}">
				{% if section.settings.image_first != blank %}
					{% assign image_height = section.settings.image_first.width
						| divided_by: section.settings.image_first.aspect_ratio
					%}
					{% liquid
						assign effect = false
						if section.settings.aniamtion_effect == 'scale'
							assign effect = true
						endif
					%}
					<div class="blockquote__image-elem blockquote__image-first {% if section.settings.animation %} photowrapper{% endif %}">
						{{
							section.settings.image_first
							| image_url: width: 3840
							| image_tag:
								loading: 'lazy',
								width: section.settings.image_first.width,
								height: image_height,
								sizes: '100vw, (min-width: 1023px) 60vw',
								widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
								data-noclip: effect,
								animation-images: ''
						}}
					</div>
				{% endif %}
			</div>
			<div class="blockquote__info-wrapper">
				{%- if section.settings.heading != blank -%}
					<h2 class="blockquote__title">
						{{ section.settings.heading }}
					</h2>
				{%- endif -%}
				{%- if section.settings.text != blank -%}
					<div class="blockquote__info medium-font">
						{{ section.settings.text }}
					</div>
				{%- endif -%}
			</div>
			<div class="blockquote__image-block blockquote__image-block-second{% if section.settings.image_second == blank %} blockquote__image-block-empty{% endif %}">
				{% if section.settings.image_second != blank %}
					{% assign image_height = section.settings.image_second.width
						| divided_by: section.settings.image_second.aspect_ratio
					%}
					<div class="blockquote__image-elem blockquote__image-second{% if section.settings.animation %} photowrapper{% endif %}">
						{{
							section.settings.image_second
							| image_url: width: 3840
							| image_tag:
								loading: 'lazy',
								width: section.settings.image_second.width,
								height: image_height,
								sizes: '100vw,(min-width: 1023px) 50vw',
								widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
								data-noclip: effect,
								animation-images: ''
						}}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.blockquote.name",
	"tag": "section",
	"class": "spaced-section blockquote-section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"default": "background-1",
			"label": "t:sections.all.color_scheme.label"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"default": "Heading",
			"label": "t:sections.all.heading.label"
		},
		{
			"type": "text",
			"id": "text",
			"default": "Some text",
			"label": "t:sections.all.text.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.image_animation.header.content"
		},
		{
			"type": "checkbox",
			"id": "animation",
			"default": true,
			"label": "t:sections.all.image_animation.enable"
		},
		{
			"type": "select",
			"id": "aniamtion_effect",
			"options": [
				{
					"value": "slide",
					"label": "t:sections.all.image_animation.options__1.label"
				},
				{
					"value": "scale",
					"label": "t:sections.all.image_animation.options__2.label"
				}
			],
			"default": "slide",
			"label": "t:sections.all.image_animation.style"
		},
		{
			"type": "checkbox",
			"id": "hide_mobile_image",
			"default": true,
			"label": "t:sections.all.hide_mobile.option_3"
		},
		{
			"type": "header",
			"content": "t:sections.all.image.header.content"
		},
		{
			"type": "image_picker",
			"id": "image_first",
			"label": "t:sections.all.image.image_first"
		},
		{
			"type": "select",
			"id": "image_ratio_first",
			"options": [
				{
					"value": "landscape",
					"label": "t:sections.all.image.ratio.options__1.label"
				},
				{
					"value": "square",
					"label": "t:sections.all.image.ratio.options__3.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.all.image.ratio.options__2.label"
				}
			],
			"default": "portrait",
			"label": "t:sections.all.image.ratio.label"
		},
		{
			"type": "image_picker",
			"id": "image_second",
			"label": "t:sections.all.image.image_second"
		},
		{
			"type": "select",
			"id": "image_ratio_second",
			"options": [
				{
					"value": "landscape",
					"label": "t:sections.all.image.ratio.options__1.label"
				},
				{
					"value": "square",
					"label": "t:sections.all.image.ratio.options__3.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.all.image.ratio.options__2.label"
				}
			],
			"default": "portrait",
			"label": "t:sections.all.image.ratio.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "l",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-padding.header.content"
		},
		{
			"type": "select",
			"id": "padding_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-padding.padding_top.label"
		},
		{
			"type": "select",
			"id": "padding_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "m",
			"label": "t:sections.all.section-padding.padding_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.border.header.content"
		},
		{
			"type": "checkbox",
			"id": "enable_border_top",
			"default": false,
			"label": "t:sections.all.border.border_enable_top.label"
		},
		{
			"type": "checkbox",
			"id": "enable_border_bottom",
			"default": true,
			"label": "t:sections.all.border.border_enable_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.blockquote.name"
		}
	]
}
{% endschema %}
