{{ 'section-collapsible-content.css' | asset_url | stylesheet_tag }}
<script src="{{ 'collapsible-content.js' | asset_url }}" defer="defer"></script>

{%- style -%}
	{% render 'section-padding' %}
		{% render 'section-margin' %}
{%- endstyle -%}

<link
	rel="stylesheet"
	href="{{ 'component-accordion.css' | asset_url }}"
	media="print"
	onload="this.media='all'"
>

<div class="collapsible-content section-{{ section.id }}-padding  background {% if section.settings.enable_border_top %} section_border_top{% endif %}{% if section.settings.enable_border_bottom %} section_border_bottom{% endif %}">
	<div class="container">
		<div class="collapsible-content-wrapper">
			{% if section.settings.heading != blank
				or section.settings.description != blank
			%}
				<div class="collapsible-content__title-box">
					{%- if section.settings.heading != blank -%}
						<h3 class="collapsible-content__title">
							{{ section.settings.heading | escape }}
						</h3>
					{%- endif -%}

					{%- if section.settings.description != blank -%}
						<div class="collapsible-content-desc richtext__content extra-large-font">
							{{ section.settings.description }}
						</div>
					{%- endif -%}
				</div>
			{%- endif -%}

			<div class="collapsible-content-box">
				{% for block in section.blocks %}
					{% if block.settings.block_heading != blank
						and block.settings.text != blank
					%}
						<div class="collapsible-content-block">
							<div class="collapsible-content-item">
								<div class="collapsible-content-summery{% if forloop.index == 1 %} active{% endif %}">
									<h4 class="collapsible-content-block__heading ">
										{{ block.settings.block_heading | escape }}
									</h4>
									{% render 'icon-caret-small' %}
								</div>
								{%- if block.settings.text != blank -%}
									<div
										class="collapsible-content-block__description large-font richtext__content "
										{% if forloop.index != 1 %}
											style="display: none"
										{% endif %}
									>
										{{ block.settings.text }}
									</div>
								{%- endif -%}
							</div>
						</div>
					{%- endif -%}
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.collapsible-content.name",
	"class": "collapsible-content-section",
	"tag": "section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"default": "background-1",
			"label": "t:sections.all.color_scheme.label"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"default": "Heading",
			"label": "t:sections.all.heading.label"
		},
		{
			"type": "inline_richtext",
			"id": "description",
			"default": "Description",
			"label": "t:sections.all.description.label"
		},

		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "l",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-padding.header.content"
		},
		{
			"type": "select",
			"id": "padding_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-padding.padding_top.label"
		},
		{
			"type": "select",
			"id": "padding_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-padding.padding_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.border.header.content"
		},
		{
			"type": "checkbox",
			"id": "enable_border_top",
			"default": false,
			"label": "t:sections.all.border.border_enable_top.label"
		},
		{
			"type": "checkbox",
			"id": "enable_border_bottom",
			"default": false,
			"label": "t:sections.all.border.border_enable_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "text-block",
			"name": "t:sections.collapsible-content.blocks.accordion.name",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "block_heading",
					"default": "Heading",
					"label": "t:sections.all.heading.label"
				},
				{
					"type": "richtext",
					"id": "text",
					"default": "<p>Description</p>",
					"label": "t:sections.all.text.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.collapsible-content.name",
			"blocks": [
				{
					"type": "text-block"
				},
				{
					"type": "text-block"
				},
				{
					"type": "text-block"
				}
			]
		}
	]
}
{% endschema %}
