{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{% style %}
	{% render 'section-padding' %}
	{% render 'section-margin' %}
	#shopify-section-{{ section.id }} .have-overlay {
		--overlay-alpha : {{ section.settings.overlay_opacity }}%;
	}
{% endstyle %}

{% liquid
	case section.settings.image_size
		when 'adapt'
			assign section_size = 0
		when 'small'
			assign section_size = '30vh'
		when 'medium'
			assign section_size = '60vh'
		when 'large'
			assign section_size = '100vh'
		else
			assign section_size = '100vh'
	endcase
%}

{% liquid
	assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
	assign adapt_height = 1 | divided_by: section.settings.image.aspect_ratio | times: 100 | append: '%'
	if section.settings.image_size == 'adapt'
		assign section_size = adapt_height
	endif
%}

{%- style -%}
	#shopify-section-{{ section.id }} {
		--image-height : {{ section_size }};
	}
{%- endstyle -%}

<div class="image-banner{% if section.settings.enable_border_top %} section_border_top{% endif %}{% if section.settings.enable_border_bottom %} section_border_bottom{% endif %}">
	<div class="{% if section.settings.full_width != true %}container{% endif %}">
		<div class="image-banner-box color-{{ section.settings.color_scheme }} background section-{{ section.id }}-padding">
			<div class="image-banner__img have-overlay">
				{%- if section.settings.image != blank -%}
					{% assign image_height = section.settings.image.width
						| divided_by: section.settings.image.aspect_ratio
					%}
					{{
						section.settings.image
						| image_url: width: 3840
						| image_tag:
							loading: 'lazy',
							width: section.settings.image.width,
							height: image_height,
							sizes: '100vw',
							widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
					}}
				{%- endif -%}
			</div>
			<div
				class="image-banner__wrapper{% if section.settings.full_width != true %} container-small{% else %} container{% endif %} image-banner__column--{{ section.settings.text_horizontal }}{% if section.blocks.size > 0 %} image-banner__wrapper-with-images{% endif %}"
			>
				<div
					class="image-banner__column {% if section.settings.text_order != 'row' %}image-banner__column--column{% endif %}"
					style="align-self: {{ section.settings.text_vertical }}"
				>
					{% if section.settings.text_horizontal == "left" %}
						<div class="image-banner__info-left">
					{% endif %}
					{%- if section.settings.subheading != blank -%}
						<h2 class="subtitle image-banner__subheading">
							{{ section.settings.subheading }}
						</h2>
					{%- endif -%}
						{%- if section.settings.heading != blank -%}
							<h2 class="image-banner__heading">
								{{ section.settings.heading }}
							</h2>
						{%- endif -%}

						{%- if section.settings.description != blank -%}
							<div class="image-banner__information richtext__content extra-large-font">
								{{ section.settings.description }}
							</div>
						{%- endif -%}
					{% if section.settings.text_horizontal == "left" %}
						</div>
					{% endif %}

					{% if section.settings.button_label != blank %}
						<div class="image-banner__button-wrapper">
							{% render 'button', layout: section, %}
						</div>
					{% endif %}
				</div>
				{% if section.blocks.size > 0 %}
					<div class="image-banner__image-wrapper{% if section.settings.hide_mobile_image %} hide_mobile_image{% endif %}" style="align-self: {{ section.settings.text_vertical }}">
						{%- for block in section.blocks -%}
							<div class="image-banner__image-block" id="image-banner-block-{{ block.id }}">
							{% liquid
								assign media_size = block.settings.image_ratio
								case media_size
									when 'landscape'
										assign image_size = '62.5%'
									when 'portrait'
										assign image_size = '130%'
									when 'square'
										assign image_size = '100%'
									else
										assign image_size = '100%'
								endcase
							%}
							{%- style -%}
								#shopify-section-{{ section.id }} #image-banner-block-{{ block.id }} {
									--image_size: {{ image_size }};
								}
							{%- endstyle -%}
							
								<div class="image-banner__image-elem{% if block.settings.animation %} photowrapper{% endif %}">
									{%- if block.settings.image != blank -%}
										{% assign image_height = block.settings.image.width
											| divided_by: block.settings.image.aspect_ratio
										%}
										{%- capture style -%}
											object-fit: {{ block.settings.object_fit }}; object-position: {{ block.settings.image.presentation.focal_point }};
										{%- endcapture -%}

										{% liquid
												assign effect = false
												if block.settings.aniamtion_effect == 'scale'
													assign effect = true
												endif
										%}

										{{
											block.settings.image
											| image_url: width: 3840
											| image_tag:
												loading: 'lazy',
												width: block.settings.image.width,
												height: image_height,
												sizes: '50vw',
												widths: '50, 125, 375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
												style: style,
												data-noclip: effect,
												animation-images: ''
										}}
										{%- else %}
											{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
									{% endif %}
								</div>
							</div>
						{%- endfor -%}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.image-banner.name",
	"tag": "section",
	"class": "image-banner-section spaced-section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "hide_mobile_image",
			"default": true,
			"label": "t:sections.all.hide_mobile.option_2"
		},
		{
			"type": "checkbox",
			"id": "full_width",
			"default": true,
			"label": "t:sections.image-banner.settings.full_width.label"
		},
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"default": "background-1",
			"label": "t:sections.all.color_scheme.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.image.header.content"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.all.image.label"
		},
		{
			"type": "select",
			"id": "image_size",
			"options": [
				{
					"value": "adapt",
					"label": "t:sections.all.image.size.options__1.label"
				},
				{
					"value": "small",
					"label": "t:sections.all.image.size.options__2.label"
				},
				{
					"value": "medium",
					"label": "t:sections.all.image.size.options__3.label"
				},
				{
					"value": "large",
					"label": "t:sections.all.image.size.options__4.label"
				}
			],
			"default": "small",
			"label": "t:sections.all.image.size.label"
		},
		{
			"type": "range",
			"id": "overlay_opacity",
			"min": 0,
			"max": 100,
			"default": 20,
			"unit": "%",
			"label": "t:sections.all.overlay_opacity.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.heading.header.content"
		},
		{
			"type": "text",
			"id": "subheading",
			"default": "Subheading",
			"label": "t:sections.all.subheading.label"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"label": "t:sections.all.heading.label",
			"default": "Heading"
		},
		{
			"type": "richtext",
			"id": "description",
			"default": "<p>Description</p>",
			"label": "t:sections.all.text.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.text.text__alignment.header.content"
		},
		{
			"type": "select",
			"id": "text_horizontal",
			"options": [
				{
					"value": "left",
					"label": "t:sections.all.text.text__alignment.horizontal.options__1.label"
				},
				{
					"value": "center",
					"label": "t:sections.all.text.text__alignment.horizontal.options__2.label"
				}
			],
			"default": "center",
			"label": "t:sections.all.text.text__alignment.horizontal.label"
		},
		{
			"type": "select",
			"id": "text_vertical",
			"options": [
				{
					"value": "flex-start",
					"label": "t:sections.all.text.text__alignment.vertical.options__1.label"
				},
				{
					"value": "center",
					"label": "t:sections.all.text.text__alignment.vertical.options__2.label"
				},
				{
					"value": "flex-end",
					"label": "t:sections.all.text.text__alignment.vertical.options__3.label"
				}
			],
			"default": "center",
			"label": "t:sections.all.text.text__alignment.vertical.label"
		},

		{
			"type": "header",
			"content": "t:sections.all.button.header.content"
		},
		{
			"type": "text",
			"id": "button_label",
			"default": "Button label",
			"label": "t:sections.all.button.label.label",
			"info": "t:sections.all.button.label.info"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "t:sections.all.button.link.label"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"value": "primary",
					"label": "t:sections.all.button.style.options__1.label"
				},
				{
					"value": "secondary",
					"label": "t:sections.all.button.style.options__2.label"
				},
				{
					"value": "tertiary",
					"label": "t:sections.all.button.style.options__3.label"
				}
			],
			"default": "tertiary",
			"label": "t:sections.all.button.style.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-padding.header.content"
		},
		{
			"type": "select",
			"id": "padding_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-padding.padding_top.label"
		},
		{
			"type": "select",
			"id": "padding_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "s",
			"label": "t:sections.all.section-padding.padding_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.border.header.content"
		},
		{
			"type": "checkbox",
			"id": "enable_border_top",
			"default": false,
			"label": "t:sections.all.border.border_enable_top.label"
		},
		{
			"type": "checkbox",
			"id": "enable_border_bottom",
			"default": false,
			"label": "t:sections.all.border.border_enable_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "image",
			"name": "t:sections.image-banner.blocks.image.name",
			"limit": 2,
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.all.image.label"
				},
				{
					"type": "select",
					"id": "image_ratio",
					"options": [
						{
							"value": "landscape",
							"label": "t:sections.all.image.ratio.options__1.label"
						},
						{
							"value": "square",
							"label": "t:sections.all.image.ratio.options__3.label"
						},
						{
							"value": "portrait",
							"label": "t:sections.all.image.ratio.options__2.label"
						}
					],
					"default": "square",
					"label": "t:sections.all.image.ratio.label"
				},
				{
					"type": "select",
					"id": "object_fit",
					"options": [
						{
							"value": "cover",
							"label": "t:sections.all.image.fit.options__2.label"
						},
						{
							"value": "contain",
							"label": "t:sections.all.image.fit.options__1.label"
						}
					],
					"default": "cover",
					"label": "t:sections.all.image.fit.label"
				},
				{
					"type": "header",
					"content": "t:sections.all.image_animation.header.content"
				},
				{
					"type": "checkbox",
					"id": "animation",
					"default": true,
					"label": "t:sections.all.image_animation.enable"
				},
				{
					"type": "select",
					"id": "aniamtion_effect",
					"options": [
						{
							"value": "slide",
							"label": "t:sections.all.image_animation.options__1.label"
						},
						{
							"value": "scale",
							"label": "t:sections.all.image_animation.options__2.label"
						}
					],
					"default": "slide",
					"label": "t:sections.all.image_animation.style"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.image-banner.presets.name"
		}
	]
}
{% endschema %}
