{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

<script src="{{ 'load-more.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-blog.js' | asset_url }}" defer="defer"></script>

{% style %}
	{% render 'section-padding' %}
	{% render 'section-margin' %}
{% endstyle %}

{% assign section_id = 'shopify-section-' | append: section.id %}

<div class="main-blog">
	<div class="container">
		{% if section.settings.tag_articles != blank
			and section.settings.tag_articles_heading != blank
		%}
			<h2 class="main-blog__title h3">
				{{ section.settings.tag_articles_heading }}
			</h2>
			<div class="main-blog-progressbar">
				<div class="swiper-pagination"></div>
				<div class="main-blog-buttons">
					<div class="swiper-button swiper-button-prev">
						{% render 'icon-arrow' %}
					</div>
					<div class="swiper-button swiper-button-next">
						{% render 'icon-arrow' %}
					</div>
				</div>
			</div>
		{% endif %}
		<div
			class="blog-articles-large load-more-grid list-unstyled"
			style="--per-row: 3"
			data-id="{{ section_id }}"
			data-speed="{{ section.settings.slideshow_speed }}"
		>
			<div class="swiper">
				<div class="swiper-wrapper">
					{% for article in blog.articles %}
						{% for tag in article.tags %}
							{% assign tag_handle = tag | handle | strip %}
							{% assign setting_handle = section.settings.tag_articles
								| handle
								| strip
							%}
							{% if tag_handle == setting_handle %}
								<div class="swiper-slide">
									{%
										render 'article-card',
										blog: blog,
										article: article,
										show_image: section.settings.show_image_tag,
										show_date: section.settings.show_date_tag,
										show_tags: section.settings.show_tags_tag,
										show_excerpt: section.settings.show_excerpt_tag,
										show_author: section.settings.show_author_tag
										image_fit: section.settings.tag_image_fit,
										image_ratio: section.settings.tag_image_ratio,
										content_alignment: section.settings.tag_text_horizontal
										large_title: true,
									%}
								</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
		{% paginate blog.articles by 16 %}
			<div class="blog-articles__wrapper">
				{% if section.settings.heading != blank %}
					<h2 class="main-blog__title h3">{{ section.settings.heading }}</h2>
				{% endif %}
				<ul
					class="blog-articles load-more-grid list-unstyled"
					style="--per-row: 4"
				>
					{% for article in blog.articles %}
						<li>
							{% render 'article-card',
								article: article,
								show_image: section.settings.show_image,
								show_tags: section.settings.show_tags,
								show_date: section.settings.show_date,
								show_excerpt: section.settings.show_excerpt,
								show_author: section.settings.show_author,
								image_fit: section.settings.image_fit,
								image_ratio: section.settings.image_ratio,
								content_alignment: section.settings.text_horizontal,
								small_title: true
							%}
						</li>
					{% endfor %}
				</ul>
			</div>
			{% if paginate.pages > 1 %}
				{% if settings.pagination_type == 'load_more' %}
					{% render 'load-more',
						next_url: paginate.next.url,
						count_pages: paginate.pages,
						current_page: paginate.current_page
					%}
					<div class="js-hidden">
						{% render 'pagination', paginate: paginate %}
					</div>
				{% elsif settings.pagination_type == 'infinite_scroll' %}
					{% render 'infinite-scroll',
						next_url: paginate.next.url,
						count_pages: paginate.pages,
						current_page: paginate.current_page
					%}
					<div class="js-hidden">
						{% render 'pagination', paginate: paginate %}
					</div>
				{% else %}
					{% render 'pagination', paginate: paginate %}
				{% endif %}
			{% endif %}
		{% endpaginate %}
	</div>
</div>

{% schema %}
{
	"name": "t:sections.main-blog.name",
	"tag": "section",
	"class": "section-main-blog",
	"settings": [
		{
			"type": "header",
			"content": "t:sections.main-blog.settings.header__2.content"
		},
		{
			"type": "inline_richtext",
			"id": "tag_articles_heading",
			"label": "t:sections.all.heading.label",
			"default": "Heading"
		},
		{
			"type": "text",
			"id": "tag_articles",
			"label": "t:sections.main-blog.settings.tag.label",
			"info": "t:sections.main-blog.settings.tag.info"
		},
		{
			"type": "select",
			"id": "tag_text_horizontal",
			"options": [
				{
					"value": "left",
					"label": "t:sections.all.text.text__alignment.horizontal.options__1.label"
				},
				{
					"value": "center",
					"label": "t:sections.all.text.text__alignment.horizontal.options__2.label"
				},
				{
					"value": "right",
					"label": "t:sections.all.text.text__alignment.horizontal.options__3.label"
				}
			],
			"default": "center",
			"label": "t:sections.all.text.text__alignment.horizontal.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.slider_options.header.content"
		},
		{
			"type": "range",
			"id": "slideshow_speed",
			"min": 0,
			"max": 6,
			"step": 0.1,
			"default": 0.5,
			"unit": "s",
			"label": "t:sections.all.slider_options.speed.label"
		},
		{
			"type": "select",
			"id": "tag_image_ratio",
			"options": [
				{
					"value": "landscape",
					"label": "t:sections.all.image.ratio.options__1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.all.image.ratio.options__2.label"
				},
				{
					"value": "square",
					"label": "t:sections.all.image.ratio.options__3.label"
				}
			],
			"default": "portrait",
			"label": "t:sections.all.image.ratio.label"
		},
		{
			"type": "select",
			"id": "tag_image_fit",
			"label": "t:sections.all.image.fit.label",
			"options": [
				{
					"value": "contain",
					"label": "t:sections.all.image.fit.options__1.label"
				},
				{
					"value": "cover",
					"label": "t:sections.all.image.fit.options__2.label"
				}
			],
			"default": "cover"
		},
		{
			"type": "checkbox",
			"id": "show_image_tag",
			"default": true,
			"label": "t:sections.main-blog.settings.show_image.label"
		},
		{
			"type": "checkbox",
			"id": "show_tags_tag",
			"default": true,
			"label": "t:sections.main-blog.settings.show_tags.label"
		},
		{
			"type": "checkbox",
			"id": "show_date_tag",
			"default": true,
			"label": "t:sections.main-blog.settings.show_date.label"
		},
		{
			"type": "checkbox",
			"id": "show_excerpt_tag",
			"default": false,
			"label": "t:sections.main-blog.settings.show_excerpt.label"
		},
		{
			"type": "checkbox",
			"id": "show_author_tag",
			"default": false,
			"label": "t:sections.main-blog.settings.show_author.label"
		},
		{
			"type": "header",
			"content": "t:sections.main-blog.settings.header.content"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"label": "t:sections.all.heading.label",
			"default": "Heading"
		},
		{
			"type": "select",
			"id": "text_horizontal",
			"options": [
				{
					"value": "left",
					"label": "t:sections.all.text.text__alignment.horizontal.options__1.label"
				},
				{
					"value": "center",
					"label": "t:sections.all.text.text__alignment.horizontal.options__2.label"
				},
				{
					"value": "right",
					"label": "t:sections.all.text.text__alignment.horizontal.options__3.label"
				}
			],
			"default": "left",
			"label": "t:sections.all.text.text__alignment.horizontal.label"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
				{
					"value": "landscape",
					"label": "t:sections.all.image.ratio.options__1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.all.image.ratio.options__2.label"
				},
				{
					"value": "square",
					"label": "t:sections.all.image.ratio.options__3.label"
				}
			],
			"default": "landscape",
			"label": "t:sections.all.image.ratio.label"
		},
		{
			"type": "select",
			"id": "image_fit",
			"label": "t:sections.all.image.fit.label",
			"options": [
				{
					"value": "contain",
					"label": "t:sections.all.image.fit.options__1.label"
				},
				{
					"value": "cover",
					"label": "t:sections.all.image.fit.options__2.label"
				}
			],
			"default": "cover"
		},
		{
			"type": "checkbox",
			"id": "show_image",
			"default": true,
			"label": "t:sections.main-blog.settings.show_image.label"
		},
		{
			"type": "checkbox",
			"id": "show_tags",
			"default": true,
			"label": "t:sections.main-blog.settings.show_tags.label"
		},
		{
			"type": "checkbox",
			"id": "show_date",
			"default": true,
			"label": "t:sections.main-blog.settings.show_date.label"
		},
		{
			"type": "checkbox",
			"id": "show_excerpt",
			"default": false,
			"label": "t:sections.main-blog.settings.show_excerpt.label"
		},
		{
			"type": "checkbox",
			"id": "show_author",
			"default": false,
			"label": "t:sections.main-blog.settings.show_author.label"
		},
		{
			"type": "paragraph",
			"content": "t:sections.main-blog.settings.paragraph.content"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "l",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	]
}
{% endschema %}
