{{ 'section-popular-products.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'popular-products.js' | asset_url }}" defer="defer"></script>

{% assign product_list = section.settings.product_list %}
{% assign section_id = 'shopify-section-' | append: section.id %}
{% style %}
	{% render 'section-margin' %}
	{% render 'section-padding' %}
	[data-id="{{ section_id }}"].popular-products__container {
		--duration-long-cubic : {{ section.settings.slideshow_speed }}s;
	}
{% endstyle %}

<div class="popular-products section-{{ section.id }}-padding {% if section.settings.enable_border_top %} section_border_top{% endif %}{% if section.settings.enable_border_bottom %} section_border_bottom{% endif %}">
	{% render 'section-header', text_size: 'large' %}

	<div class="container">
		<div class="popular-products-progressbar">
			<div class="swiper-pagination"></div>
			<div class="popular-products-buttons">
				<div class="swiper-button swiper-button-prev">
					{% render 'icon-arrow' %}
				</div>
				<div class="swiper-button swiper-button-next">
					{% render 'icon-arrow' %}
				</div>
			</div>
		</div>
	</div>

	{% assign count = 0 %}
	{% for product in product_list %}
		{% assign count = count | plus: 1 %}
	{% endfor %}

	<div
		class="popular-products-slider "
		data-id="{{ section_id }}"
		data-speed="{{ section.settings.slideshow_speed }}"
		data-delay="{{ section.settings.slideshow_delay }}"
		data-autoplay="{{ section.settings.autoplay }}"
		data-stop-autoplay="{{ section.settings.stop_autoplay }}"
		data-per-row="4"
		data-count="{{ count }}"
		style="--slider-per-row : 4"
	>
		<div class="popular-products__container">
			<div class="popular-products__wrapper">
				<div class="popular-products__swiper swiper">
					<div class="popular-products__swiper-wrapper swiper-wrapper">
						{% for product in product_list %}
							<div
								data-type="{{ product.type }}"
								class="popular-products__slide swiper-slide"
								style="transition: transform {{ section.settings.slideshow_speed | times: 1000 }}ms"
							>
								{% render 'product-card',
									product_card_product: product,
									media_size: section.settings.image_ratio,
									media_fit: section.settings.image_fit,
									show_secondary_image: section.settings.show_secondary_image,
									show_vendor: section.settings.show_vendor,
									show_desc: section.settings.show_desc,
									show_color_swatch: section.settings.show_color_swatch,
									section_id: section_id,
									show_sku: section.settings.show_sku,
									text_alignment: settings.card_text_alignment
								%}
							</div>
						{%- else -%}
							{%- for i in (1..5) -%}
								<div class="popular-products__slide swiper-slide">
									{% render 'product-card-placeholder',
										media_size: section.settings.image_ratio,
										text_alignment: settings.card_text_alignment
									%}
								</div>
							{% endfor %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.popular-products.name",
	"tag": "section",
	"class": "popular-products-section spaced-section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "product_list",
			"id": "product_list",
			"limit": 20,
			"label": "t:sections.all.product_card.product_list.label"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"default": "Heading",
			"label": "t:sections.all.heading.label"
		},
		{
			"type": "richtext",
			"id": "description",
			"default": "<p>Description</p>",
			"label": "t:sections.all.text.label"
		},
		{
			"type": "text_alignment",
			"id": "alignment",
			"label": "t:sections.all.content_alignment.label",
			"default": "center"
		},
		{
			"type": "header",
			"content": "t:sections.all.slider_options.header.content"
		},
		{
			"type": "checkbox",
			"id": "autoplay",
			"default": false,
			"label": "t:sections.all.slider_options.slider_is_autoplay.label"
		},
		{
			"type": "checkbox",
			"id": "stop_autoplay",
			"default": true,
			"label": "t:sections.all.slider_options.slider_hover_autoplay_stop.label"
		},
		{
			"type": "range",
			"id": "slideshow_speed",
			"min": 0,
			"max": 6,
			"step": 0.1,
			"default": 0.5,
			"unit": "s",
			"label": "t:sections.all.slider_options.speed.label"
		},
		{
			"type": "range",
			"id": "slideshow_delay",
			"min": 0,
			"max": 8,
			"step": 0.1,
			"default": 3,
			"unit": "s",
			"label": "t:sections.all.slider_options.delay.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.product_card.header.content"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
				{
					"value": "landscape",
					"label": "t:sections.all.image.ratio.options__1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.all.image.ratio.options__2.label"
				},
				{
					"value": "square",
					"label": "t:sections.all.image.ratio.options__3.label"
				}
			],
			"default": "portrait",
			"label": "t:sections.all.image.ratio.label"
		},
		{
			"type": "select",
			"id": "image_fit",
			"label": "t:sections.all.image.fit.label",
			"default": "cover",
			"options": [
				{
					"value": "contain",
					"label": "t:sections.all.image.fit.options__1.label"
				},
				{
					"value": "cover",
					"label": "t:sections.all.image.fit.options__2.label"
				}
			]
		},
		{
			"type": "checkbox",
			"id": "show_secondary_image",
			"default": true,
			"label": "t:sections.all.product_card.show_secondary_image.label"
		},
		{
			"type": "checkbox",
			"id": "show_sku",
			"default": false,
			"label": "t:sections.all.sku.show_sku"
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"default": false,
			"label": "t:sections.all.product_card.show_vendor.label"
		},
		{
			"type": "checkbox",
			"id": "show_color_swatch",
			"default": false,
			"label": "t:sections.all.product_card.show_color.label"
		},
		{
			"type": "checkbox",
			"id": "show_desc",
			"default": false,
			"label": "t:sections.all.product_card.show_description.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "l",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-padding.header.content"
		},
		{
			"type": "select",
			"id": "padding_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-padding.padding_top.label"
		},
		{
			"type": "select",
			"id": "padding_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-padding.padding_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.border.header.content"
		},
		{
			"type": "checkbox",
			"id": "enable_border_top",
			"default": false,
			"label": "t:sections.all.border.border_enable_top.label"
		},
		{
			"type": "checkbox",
			"id": "enable_border_bottom",
			"default": false,
			"label": "t:sections.all.border.border_enable_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.popular-products.presets.name"
		}
	]
}
{% endschema %}
